/* PROJECTS SECTION */

.projects {
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 1rem;  
    color: var(--textColor);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 0;
}

.solidProject {
    width: 16.5%;
    border: 2px solid var(--mainPrimaryColor);
    border-radius: 50px;
    margin-bottom: 1rem;
}

.projects .projectContent {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.projects .projectContent ::-webkit-scrollbar {
    display: none;
}

/* .projects .projectContent ::-webkit-scrollbar-track {
    background: var(--bodyBackgroundColor)
}

.projects .projectContent ::-webkit-scrollbar-thumb {
    background: var(--mainSecondaryColor)
} */

.projects .projectContent .imageGallery {
    /* width: 50%; */
    overflow: scroll;
    white-space: nowrap;
    /* margin-right: -15%; */
}

.projects .projectContent .imageGalleryIphone {
    /* width: 50%; */
    overflow: scroll;
    white-space: nowrap;
    padding: 2.5rem 0;
    /* margin-right: -15%; */
}

.projects .projectContent .imageGallery .image {
    /* max-width: 100%; */
    height: auto;
    object-fit: contain;
    /* flex-basis: 50rem; */
    /* flex-grow: 3; */
}

.projects .projectContent .imageGallery .imageView {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: left;
}

.projects .projectContent .imageGallery .imageView .imageText {
    margin-left: 3.5rem;
    margin-top: -2.5rem;
}

.projects .projectContent .imageGalleryIphone .imageView {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: left;
    width: 20rem;
    height: 40rem;
    object-fit: contain;
    margin: 1rem 1rem;
}

.projects .projectContent .imageGalleryIphone .imageView .imageText {
    margin-top: 1rem;
}

.projects .projectContent .imageGalleryIphone .image {
    /* max-width: 100%; */
    height: auto;
    object-fit: contain;
    /* flex-basis: 50rem; */
    /* flex-grow: 3; */
}

.projects .projectItem {
    width: 100%;
    margin: 1rem 0rem;
}


.projects .description {
    max-width: 40%;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
    margin: 1rem 0;
}

.projects .description ul {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.projects .description .githubButton {
    text-decoration: none;
    padding: 0.5rem 0.9rem;
    background-color: var(--mainSecondaryColor);
    border: var(--mainSecondaryColor);
    border-style: solid;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    color: white;
    float: left;
}

.projects .projectItemEven .description .githubButton {
    text-decoration: none;
    padding: 0.5rem 0.9rem;
    background-color: var(--mainSecondaryColor);
    border: var(--mainSecondaryColor);
    border-style: solid;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    color: white;
    float: right;
}

.projects .description .githubButton:hover {
    background-color: white;
    border: var(--mainSecondaryColor);
    border-style: solid;
    border-radius: 25px;
    cursor: pointer;
    color: var(--mainSecondaryColor);
}

/* TremorAnalysis */
.projects .projectItemEven {
    width: 100%;
    margin: 1rem 0rem;
}

.projects .projectItemEven header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.projects .projectItemEven .projectContent {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 1rem;
}

.projects .projectItemEven .projectContent .imageGalleryIphone {
    /* width: 50%; */
    direction: rtl;
    overflow: scroll;
    white-space: nowrap;
    padding: 2.5rem 0;
    /* margin-right: -15%; */
}

.projects .projectItemEven .description {
    max-width: 40%;
    padding-left: 2rem;
    padding-right: 0;
    padding-bottom: 1.5rem;
    margin: 1rem 0;
}

.projects .projectContent .tremorAnalysisImage {
    width: 20rem;
    height: 40rem;
    object-fit: contain;
    margin: 1rem 0rem;
    flex-basis: 5%;
}

.projects .projectContent .projectImages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    margin: 1rem 0;
}

/* InvestingForAll */

.projects .investingForAll {
    width: 100%;
    margin: 1rem 0rem;
}